  .mdl-textfield--floating-label.is-focused>.mdl-textfield__label {
    color: #fff;
  }
  
  .mdl-textfield__label {
    color: rgba(255, 255, 255, .26);
  }
  
  .mdl-textfield__label:after {
    background-color: #fff;
  }
  
  .mdl-textfield {
    width: 45%;
    margin-left: 20px;
  }

  @media (max-width: 479px) {
    i.material-icons {
      display: none;
    }
  }
  