<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header" style="background-color: rgb(100, 65, 164 ); height: 50px; width: 100%;">
        <div class="mdl-layout__header-row">
            <img src="assets/icon/Twitch_White_RGB.png" style="max-height: 32px; padding-left: 20px; max-width: 94px; padding-top: 10px;">
        </div>
    </header>
    <video-list (videosUpdated)="handleSearchVideo($event)" [videoList]="videoList"></video-list>
</div>
<video-player></video-player>