    <div id="main-doc-body">
        <div id="main-content">
            <div class="responsive">
                <iframe [src]= "Url | safe" height="720" width="1280" frameborder="0" scrolling="no" allowfullscreen="false">
                </iframe>
        </div>
          <br>
          <div class="responsive">
              <iframe frameborder="0" scrolling="no" id="chat_embed" [src]="chatUrl | safe" height="500" width="350">
            </iframe>
        </div>
        <footer id="footer"></footer>
    </div>
</div>
